# Ignore eveything so repository can be used in game instance
/*

# Add directories with soure code
!config/
!defaultconfigs/
!kubejs/
!mods/panorama/
!panoramas/
!scripts/

# Add files in main directory
!.gitattributes
!.gitignore
!LICENSE
!panorama.dat
!README.md

# Specific exclusion
defaultconfigs/*
config/ae2/*
config/craftingtweaks/*
config/functionalstorage/*
config/jade/*
config/konkrete/*
config/ae2/*
config/ModernUI/*
config/openloader/*
config/titanium/*
config/travelanchors/*
config/waila/*
config/ae2ct-client*
config/angelring-common*
config/balm-client*
config/balm-common*
config/buildinggadgets2-common*
config/carryon-client*
config/carryon-common*
config/collective*
config/constructionwand-client*
config/craftingtweaks-common*
config/curios-client*
config/curios-common*
config/embeddium-fingerprint*
config/embeddium-mixins*
config/embeddium-options*
config/emi*
config/enderchests-client*
config/enderchests*
config/endertanks-client*
config/endertanks*
config/entityculling*
config/ferritecore-mixin*
config/fluxnetworks-client*
config/fluxnetworks-common*
config/fml*
config/forge-client*
config/framedblocks-client*
config/framedblocks-common*
config/gtceu*
config/gtmthings*
config/guideme*
config/inventoryessentials-common*
config/invtweaks-client*
config/modernfix-common*
config/modernfix-mixins*
config/MouseTweaks*
config/oculus*
config/pccard-client*
config/setworldspawnpoint*
config/shetiphiancore-client*
config/shetiphiancore*
config/sidebar_buttons*
config/sophisticatedbackpacks-common*
config/sophisticatedcore-client*
config/sophisticatedcore-common*
config/squatgrow-common*
config/toms_storage-common*
config/xaeropatreon*
config/xaeroworldmap-common*
config/xaeroworldmap*